# COPY THIS file to .env and fill in your OMDb API key.

# Get a free key at https://www.omdbapi.com/apikey.aspx
# IMPORTANT: never commit your .env file to git!

# You can get this value in your code by using: 
#       import.meta.env.VITE_OMDB_KEY
VITE_OMDB_KEY=YOUR_KEY_HERE
